<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Friendly Travel Website</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/carbonOffset-pg22.css">
    <link rel="stylesheet" href="/responsiveMainPage.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header Start -->
     <header>
        <div class="container">
            <nav>
                <div class="main-title">
                    <i class="fa-solid fa-earth-asia main-title-icon"></i>
                    <div class="main-subtitle">
                        <p id="subtitle1">Eco-Travel</p>
                        <p id="subtitle2">Malaysia</p>
                    </div>
                </div>
                <ul>
                    <div class="btn">
                        <i class="fas fa-times close-btn"></i>
                    </div>
                    <li><a href="/main-page" id="homeNav">Home</a></li>
                    <li><a href="/favourite-pg16" id="favouriteNav">Favourite</a></li>
                    <li><a href="history-pg17" id="historyNav">History</a></li>
                    <li><a href="/weather-pg23" id="weatherNav">Weather</a></li>
                    <li><a href="/carbon_calculator" id="footprintNav">Footprint</a></li>
                    <li><a href="/profile-settings-pg4" id="profileNav"><i class="fa-solid fa-circle-user user-icon"></i></a></li>
                </ul>
            </nav>

        </div>
     </header>

    <!-- Header Close -->

    <div class="main-carbonOffest-result container">
        <div class="flexbox-top">
            <!-- Main Result Display -->
            <div class="flexbox-left card">
                <h2 class="headings"><span>CARBON FOOTPRINT</span> RESULT</h2>

                <div class="carbonOffest-result-list">
                    <div class="offset-item1">
                        <div class="flexbox-accomodation">
                            <i class="fa-solid fa-house-user accomodation-icon"></i>
                            <div class="accomodation-carbon-list">
                                <p class="element-title">Accomodation</p>
                                <div class="accomodation-element-list">
                                    <% data.processedData.forEach(row => {%>
                                        <% if (row.category == "Accomodation") {%>
                                            <p style="margin-right: 30px;">Emission: <%= row.emission%></p>
                                            <p>Cost: <%= row.cost%></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-item2">
                        <div class="flexbox-transportation">
                            <i class="fa-solid fa-truck-plane transportation-icon"></i>
                            <div class="transportation-carbon-list">
                                <p class="element-title">Transportation</p>
                                <div class="transportation-element-list">
                                    <% data.processedData.forEach(row => {%>
                                        <% if (row.category == "Vehicle") {%>
                                            <p style="margin-right: 30px;">Emission: <%= row.emission%></p>
                                            <p>Cost: <%= row.cost%></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-item3">
                        <div class="flexbox-restaurant">
                            <i class="fa-solid fa-utensils restaurant-icon"></i>
                            <div class="restaurant-carbon-list">
                                <p class="element-title">Restaurant</p>
                                <div class="restaurant-element-list">
                                    <% data.processedData.forEach(row => {%>
                                        <% if (row.category == "Restaurant") {%>
                                            <p style="margin-right: 30px;">Emission: <%= row.emission%></p>
                                            <p>Cost: <%= row.cost%></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Carbon Pie Chart Shown-->
            <div class="flexbox-right">
                <h2 class="headings">Total Carbon Footprint: <span>
                    <% const totalFootprint = data.processedData[data.processedData.length - 1] %>
                    <%= totalFootprint.total %>
                </span></h2>

                <figure class="charts">
                    <canvas id="pieChart" style="width:100%;max-width:400px;height:100%;max-height:400px;"></canvas>
                </figure>

                <figcaption class="legends">
                    <% const percentage = data.processedData[data.processedData.length - 1] %>
                    <span>Accomodation <%= percentage.accomPercent %> %</span>
                    <span>Transportation <%= percentage.vehiclePercent %> %</span>
                    <span>Restaurant <%= percentage.restPercent %> %</span>
                </figcaption>

            </div>
        </div>

         <hr>


    <!-- About Start -->
    <section id="about">
        <div class="container">
            <div class="about-content-wrapper">
                <div class="agency-left-side">
                    <p class="heading-normal-txt">Offset Carbon Footprint</p>
                    <h2 class="headings">REDUCE <span>MALAYSIA's</span> CARBON EMISSIONS</h2>

                    <p class="lead">
                        The money that you pay to offset your carbon emissions is used to fund Climate Stewards’ partners in Ghana, 
                        Kenya, Nepal, Peru, Tanzania and Uganda. 
                    </p>
                    <br/>
                    <p class="lead">
                        We work with local partners on community-based projects that either reduce carbon emissions or remove carbon dioxide from the atmosphere - creating carbon offsets.
                    </p>

                    <ul>
                        <li>
                            <div class="icons">
                                <i class="fa fa-check"></i>
                                <p>Cashless Payment</p>
                            </div>
                        </li>

                        <li>
                            <div class="icons">
                                <i class="fa fa-phone-volume"></i>
                                <p>+6011-15880259</p>
                            </div>
                        </li>
                    </ul>

                    
                </div>

                <div class="agency-right-side">
                    <div class="img">
                        <img src="/industry_img.jpg" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- About Close -->

</div>

    <!-- Search Location Start -->
    <section id="location-search">
        <div class="container">
            <div class="form-wrapper">
                <form action="/payment-page" method="get">
                    <input type="text" name="total" placeholder="RM 100.00" class="form-control" required>

                    <select class="form-control" name="state">
                        <option value="Interest">State to Donate</option>
                        <option value="Johor">Johor</option>
                        <option value="Sarawak">Sarawak</option>
                        <option value="Sabah">Sabah</option>
                        <option value="Penang">Penang</option>
                        <option value="Selangor">Selangor</option>
                        <option value="Pahang">Pahang</option>
                        <option value="Perak">Perak</option>
                        <option value="Kedah">Kedah</option>
                        <option value="Kelantan">Kelantan</option>
                        <option value="Negeri Sembilan">Negeri Sembilan</option>
                        <option value="Perlis">Perlis</option>
                        <option value="Terengganu">Terengganu</option>
                        <option value="Malacca">Malacca</option>
                    </select>

                    <button type="submit" class="primary-btn"><i class="fa-solid fa-coins"></i>  Pay Now</button>
                </form>
            </div>
        </div>
     </section>
    <!-- Search Location Close -->
    

    <!-- Footer Start -->
    <footer id="footer">
        <div class="container">
            <div class="footer-content">
                <!-- First Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-phone-volume"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Call Us</p>
                        <p>+65-80201558</p>
                    </div>
                </div>

                <!-- Second Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-envelope-open"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Write For Us</p>
                        <p>zhenhauoi1234@gmail.com</p>
                    </div>
                </div>

                <!-- Third Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-map-location"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Address</p>
                        <p>No.15 Lorong Bukit Setongkol, 21400 Kuantan, Pahang</p>
                    </div>
                </div>
            </div>

            <!-- Second Footer Content -->
            <div class="footer-wrapper">
                <div class="about">
                    <div class="main-title">
                        <i class="fa-solid fa-earth-asia main-title-icon"></i>
                        <div class="main-subtitle">
                            <p id="subtitle1">Eco-Travel</p>
                            <p id="subtitle2">Malaysia</p>
                        </div>
                    </div>

                    <p class="lead">"Adventure is Worthwhile. 
                        The world is a book, and those who do not travel read only one page."</p>

                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    
                </div>
                
                <div class="links">
                    <h2>Quick Link</h2>
                    <ul>
                        <li><a href="/main-page">Home</a></li>
                        <li><a href="/favourite-pg16">Favourite</a></li>
                        <li><a href="/history-pg17">History</a></li>
                        <li><a href="/weather-pg23">Weather</a></li>
                        <li><a href="/carbon-calculator">Footprint</a></li>
                        <li><a href="/profile-settings-pg4">About</a></li>
                    </ul>
                </div>

                <div class="subscribe">
                    <h2>Subscribe</h2>
                    <p class="lead">Sign Up for our monthly blog to stay informed about travel and tours.</p>
                    <form action="/subscribe" method="POST">
                        <input type="email" name="email" placeholder="Email Address" required>
                        <button type="submit" class="button">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End -->

    <script>
        const data = <%- JSON.stringify(data) %>
        const percentage = data.processedData[data.processedData.length - 1]
        const ctx = document.getElementById('pieChart').getContext('2d');
        const pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
            labels: ["Accomodation", "Transportation", "Restaurant"],
            datasets: [{
                data: [percentage.accomPercent, percentage.vehiclePercent, percentage.restPercent],
                backgroundColor: ["#54d4ed", "#29B6F6", "#0086c3"],
            }]
            },
            options: {
            responsive: true,
            plugins: {
                legend: {
                position: 'top',
                },
            },
            },
        });
    </script>

    <script src="/carbonOffset-pg22.js"></script>
    <script src="/swiperMainPage.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
</html>