<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="/responsiveMainPage.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Search Menu</title>
</head>

<body>
    <!-- Header Start -->
    <header>
        <div class="container">
            <nav>
                <div class="main-title">
                    <i class="fa-solid fa-earth-asia main-title-icon"></i>
                    <div class="main-subtitle">
                        <p id="subtitle1">Eco-Travel</p>
                        <p id="subtitle2">Malaysia</p>
                    </div>
                </div>

                <ul>
                    <div class="btn">
                        <i class="fas fa-times close-btn"></i>
                    </div>
                    <li><a href="/main-page" id="homeNav">Home</a></li>
                    <li><a href="/favourite-pg16" id="favouriteNav">Favourite</a></li>
                    <li><a href="/history-pg17" id="historyNav">History</a></li>
                    <li><a href="/weather-pg23" id="weatherNav">Weather</a></li>
                    <li><a href="/carbon_calculator" id="footprintNav">Footprint</a></li>
                    <li><a href="/profile-settings-pg4" id="profileNav"><i class="fa-solid fa-circle-user user-icon"></i></a></li>
                </ul>

                <div class="btn">
                    <i class="fas fa-bars menu-btn"></i>
                </div>
                
            </nav>
        </div>
     </header>
    <!-- Header Close -->
    
    <div class="container" style="margin-top: 160px;">
        <p class="heading-normal-txt">TOP DESTINATION</p>
        <h2 class="headings">RECENT <span>SEARCH</span></h2>
    </div>

    <!-- Search Location Start -->
    <section id="location-search" style="margin-top: 50px; margin-bottom: 0px;">
        <div class="container">
            <div class="form-wrapper">
                <form action="/search" method="get">

                    <select name="state" class="form-control">
                        <option value="Where to?">Where to?</option>
                        <option value="Kuala Lumpur">Kuala Lumpur</option>
                        <option value="Johor">Johor</option>
                        <option value="Kedah">Kedah</option>
                        <option value="Kelantan">Kelantan</option>
                        <option value="Melaka">Melaka</option>
                        <option value="Pahang">Pahang</option>
                        <option value="Penang">Penang</option>
                        <option value="Perak">Perak</option>
                        <option value="Sabah">Sabah</option>
                        <option value="Sarawak">Sarawak</option>
                        <option value="Selangor">Selangor</option>
                    </select>
                    
                    <select name="category" class="form-control" required>
                        <option value="" disabled selected>Interest</option>
                        <option value="Accomodation">Accomodation</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Destination">Destination</option>
                    </select>

                    <select name="price" class="form-control">
                        <option value="Budget">Budget</option>
                        <option value="50">Less than RM50</option>
                        <option value="100">RM50 - RM100</option>
                        <option value="200">RM1000 - R2000</option>
                        <option value="300">RM2000 - RM3000</option>
                        <option value="400">RM3000 - RM4000</option>
                        <option value="401">More than RM4000</option>
                    </select>

                    <select name="idea" class="form-control">
                        <option value="Travel Ideas">Travel Ideas</option>
                        <option value="Relaxing Walk">Relaxing Walk</option>
                        <option value="Birdwatching">Birdwatching</option>
                        <option value="Natural Photography">Natural Photography</option>
                        <option value="Cultural Lover">Cultural Lover</option>
                        <option value="Eco-conscious Shoppers">Eco-conscious Shoppers</option>
                        <option value="History Buffs">History Buffs</option>
                        <option value="Educational Outings">Educational Outings</option>
                        <option value="Green Lifestyle Enthusiasts">Green Lifestyle Enthusiasts</option>
                        <option value="Curious learners">Curious learners</option>
                        <option value="Family Travel">Family Travel</option>
                    </select>

                    <button type="submit" class="primary-btn"><i class="fa-solid fa-magnifying-glass"></i>  Search Now</button>
                </form>
            </div>
        </div>
     </section>
    <!-- Search Location Close -->


    <!-- Activity Start -->
    <div class="divider" style="margin-top: 0px; align-items: center;">
        <% if (results.length === 0) { %>
                <div class="no-results-message">
                    <i class="fa fa-magnifying-glass"></i>
                    <span>No result matches</span>
                </div>

        <% } else { %>
            <div class="display-history">
                <%
                function isFavourite(destination, favouriteList) {
                    return favouriteList.some(fav => fav.name === destination.name);
                }  
                %>
                    <!-- First Favourite -->
                    <% results.forEach(destination => { %>
                        <a href="/get-info/<%=destination.category %>/<%=destination.link_name %>">
                            <div class="carousel swiper-slide lg-img">
                                <img class="option-img" src="<%=destination.image %>" alt="">
                                <div class="carousel-img-overlay">
                                    <div class="img-content">
                                        <h2><%=destination.name %></h2>
                                        <div class="hidden-content-carousel">
                                            <span><i class="fa fa-clock"></i><%=destination.duration %></span>
                                            <span><i class="fa fa-star"></i><%=destination.rating %></span>
                                            <span><i class="fa fa-location-dot"></i><%=destination.short_location %></span>
                                        </div>
                                    </div>

                                    <div class="content-fav-and-price">
                                        <button class="favourite-btn <%= isFavourite(destination, favourite) ? 'favourite-active' : '' %>">
                                            <i class="fa-solid fa-heart heart-icon <%= isFavourite(destination, favourite) ? 'favourite' : 'unfavourite' %>" id="specific-heart-icon"></i>
                                        </button>
                                        <div class="price-label">
                                            <p>RM <%=destination.price %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    <% }) %>

            </div>
        <% } %>

     </div>

    <!-- Activity End -->


    <!-- Footer Start -->
    <footer id="footer">
        <div class="container">
            <div class="footer-content">
                <!-- First Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-phone-volume"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Call Us</p>
                        <p>+65-80201558</p>
                    </div>
                </div>

                <!-- Second Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-envelope-open"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Write For Us</p>
                        <p>zhenhauoi1234@gmail.com</p>
                    </div>
                </div>

                <!-- Third Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-map-location"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Address</p>
                        <p>No.15 Lorong Bukit Setongkol, 21400 Kuantan, Pahang</p>
                    </div>
                </div>
            </div>

            <!-- Second Footer Content -->
            <div class="footer-wrapper">
                <div class="about">
                    <div class="main-title">
                        <i class="fa-solid fa-earth-asia main-title-icon"></i>
                        <div class="main-subtitle">
                            <p id="subtitle1">Eco-Travel</p>
                            <p id="subtitle2">Malaysia</p>
                        </div>
                    </div>

                    <p class="lead">"Adventure is Worthwhile. 
                        The world is a book, and those who do not travel read only one page."</p>

                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    
                </div>
                
                <div class="links">
                    <h2>Quick Link</h2>
                    <ul>
                        <li><a href="../Main-Page/main-page.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Transport</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Weather</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </div>

                <div class="subscribe">
                    <h2>Subscribe</h2>
                    <p class="lead">Sign Up for our monthly blog to stay informed about travel and tours.</p>
                    <form action="#">
                        <input type="text" placeholder="Email Address">
                        <button type="button" class="button">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End -->

    <script src="/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/swiperMainPage.js"></script>
</body>
</html>